.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;/*IE/7/6*/
}

.iorust-title {
  display: block;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: #333;
  text-decoration: none;
  font-family: "Avenir Next", "Segoe UI", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
.iorust-title:hover {
  color: #000;
}
.iorust-title img {
  display: block;
  position: relative;
  left: 50%;
  margin-left: -220px;
  float: left;
}
.iorust-title h1 {
  display: block;
  position: relative;
  left: 50%;
  margin: 0;
  float: left;
  height: 200px;
  line-height: 200px;
  font-size: 168px;
}
